azure_adf/pipeline/Parent Pipeline.json
{
	"name": "Parent Pipeline",
	"properties": {
		"activities": [
			{
				"name": "ExecuteOnPrem",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "onprem_ingestion",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"files": {
							"value": "@pipeline().parameters.files",
							"type": "Expression"
						},
						"p_mapping_flight": {
							"value": "@pipeline().parameters.p_mapping_flight",
							"type": "Expression"
						},
						"p_mapping_airline": {
							"value": "@pipeline().parameters.p_mapping_airline",
							"type": "Expression"
						},
						"p_mapping_passenger": {
							"value": "@pipeline().parameters.p_mapping_passenger",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Execute API Pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ExecuteOnPrem",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ApiIngestion",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Execute Incremental Ingestion",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Execute API Pipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SQLTODatalake",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "FailureAlerts",
				"type": "WebActivity",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Execute Incremental Ingestion",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": {
						"value": "https://adf-logic-app-fsdycjfybqbehed5.canadacentral-01.azurewebsites.net:443/api/ADF-Project-Alerts/triggers/When_an_HTTP_request_is_received/invoke?api-version=2022-05-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=EyFNdBK-i0F1rqn-98XOHcIGEGaIAsHo17GYHoxJXak",
						"type": "Expression"
					},
					"body": {
						"value": "{\n    \"pipeline_name\": \"@{pipeline().Pipeline}\",\n    \"run_id\": \"@{pipeline().RunId}\",\n    \"status\": \"@{activity('Execute Incremental Ingestion').Status}\",\n    \"error\": \"@{if(equals(activity('Execute Incremental Ingestion').Status, 'Failed'), string(activity('Execute Incremental Ingestion').error), 'No error')}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"files": {
				"type": "array",
				"defaultValue": [
					{
						"file_name": "DimPassenger.csv"
					},
					{
						"file_name": "DimAirline.csv"
					},
					{
						"file_name": "DimFlight.csv"
					}
				]
			},
			"p_mapping_flight": {
				"type": "object",
				"defaultValue": {
					"type": "TabularTranslator",
					"mappings": [
						{
							"source": {
								"name": "flight_id",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "flight_id",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "flight_number",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "flight_number",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "departure_time",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "departure_time",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "arrival_time",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "arrival_time",
								"type": "String",
								"physicalType": "String"
							}
						}
					],
					"typeConversion": true,
					"typeConversionSettings": {
						"allowDataTruncation": true,
						"treatBooleanAsNumber": false
					}
				}
			},
			"p_mapping_airline": {
				"type": "object",
				"defaultValue": {
					"type": "TabularTranslator",
					"mappings": [
						{
							"source": {
								"name": "airline_id",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "airline_id",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "airline_name",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "airline_name",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "country",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "country",
								"type": "String",
								"physicalType": "String"
							}
						}
					],
					"typeConversion": true,
					"typeConversionSettings": {
						"allowDataTruncation": true,
						"treatBooleanAsNumber": false
					}
				}
			},
			"p_mapping_passenger": {
				"type": "object",
				"defaultValue": {
					"type": "TabularTranslator",
					"mappings": [
						{
							"source": {
								"name": "passenger_id",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "passenger_id",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "full_name",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "full_name",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "gender",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "gender",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "age",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "age",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "country",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "country",
								"type": "String",
								"physicalType": "String"
							}
						}
					],
					"typeConversion": true,
					"typeConversionSettings": {
						"allowDataTruncation": true,
						"treatBooleanAsNumber": false
					}
				}
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-07-05T06:40:59Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}